html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    min-width: 300px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.4);
    padding: 20px 10px;
    list-style: none;
}

.modal__item {
    padding: 0;
    margin-bottom: 5px;
}

.modal__item:last-child {
    margin-bottom: 0;
}

.modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    width: 15px;
    height: 15px;
}
.modal__close::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    transform-origin: center; 
    transform: rotate(45deg);
    width: 15px;
    height: 2px;
    background-color: #000;
}
.modal__close::after {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    transform-origin: center; 
    transform: rotate(-45deg);
    width: 15px;
    height: 2px;
    background-color: #000;
}

.fighter__btn {
    background-color: #6441a4;
    border: none;
    border-radius: 3px;
    height: 42px;
    max-width: 140px;
    margin-top: 30px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 2px 8px;
    transition: all .2s ease-in-out;
    outline: none;
    cursor: pointer;
    width: 120px;
    border: 1px solid #6441a4;
}
.fighter__btn:hover {    
    background-color: #fff;
    color: #6441a4;
}

.active  {
    background-color: #fff;
    color: #6441a4;
} 
.none {
    border: 2px solid #ededed;
    background-color: #eee;
    color: #6441a4;
    cursor: no-drop;
}
.none:hover {
    background: #eee;
}

.start {
    position: absolute;
    left: 45%;
    bottom: 10%;
    height: 42px;
    padding: 2px 8px;
    width: 140px;
    border-radius: 3px;
    color: #397cc3;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.start:active {
    transform: scale(0.95);
}